<% include ../partials/head.ejs %>

    <body>
        <% include ../partials/header.ejs %>
            <main>
                <div class="input-wrap">
                    <form action="/auth/register" method="post">
                        <div>
                            <label>Username:</label>
                            <input type="text" name="username" /> </div>
                        <div>
                            <label>Password:</label>
                            <input type="password" name="password" /> </div>
                        <div>
                            <label>First Name:</label>
                            <input type="text" name="firstName" /> </div>
                        <div>
                            <label>Email:</label>
                            <input type="text" name="email" /> </div>
                        <div>
                            <label>Favorite vegetables:</label>
                            <input type="text" name="plants" /> </div>
                        <div>
                            <input type="submit" value="Register" />
                        </div>
                    </form>
                </div>
            </main>
            <% include ../partials/footer.ejs %>
    </body>

    </html>