<% include partials/head.ejs %>

    <body>
        <% include partials/header.ejs %>
            <main>
                <div class="container">
                    <p>Hello, welcome to Plant Me, Pro!</p>
                    <p><a href="/auth/register">Register</a></p>
                    <p><a href="/auth/login">Log In</a></p>
                    <p><a href="/auth/logout">Log Out</a></p>
                </div>
            </main>
            <% include partials/footer.ejs %>
    </body>

    </html>