<% include partials/head.ejs %>

    <body>
        <% include partials/header.ejs %>
            <main>
                <div class="input-wrap">
                    <button><a href="/auth/register">Register</a></button>
                    <button><a href="/auth/login">Log In</a></button>
                    <button><a href="/auth/logout">Log Out</a></button>
                </div>
            </main>
            <% include partials/footer.ejs %>
    </body>

    </html>