<% include partials/head.ejs %>

    <body>
        <% include partials/header.ejs %>
            <main>
                <div class="index-wrap">
                    <button><a href="/login/register">Register</a></button>
                    <button><a href="/login">Log In</a></button>
                    <button><a href="/logout">Log Out</a></button>
                </div>
            </main>
            <% include partials/footer.ejs %>
    </body>

    </html>