header {
    background-color: #8fb339;
    color: white;
}

header .container h1 {
    font-size: 36px;
    width: 100vw;
}

main {
    flex: 1 0 auto;
}

.input-wrap {
    background-color: #fe9000;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh;
    border: 2px solid #333;
    border-radius: 20px;
    height: 50vh;
    width: 30vw;
    padding-top: 2vh;
}

input {
    line-height: 3vh;
    padding: 1vh;
    margin: 1vh;
    color: black;
    font-size: 2vh;
}

button a {
    color: #555;
    padding: 1vh;
}

button {
    background-color: white;
    border-radius: 15px;
    margin: 3vh 0;
}

footer {
    background-color: #333;
    color: white;
    height: 8vh;
    line-height: 4vh;
    width: 100vw;
}

a {
    color: #555;
    line-height: 5vh;
    font-size: 3vh;
}

footer a {
    color: white;
    line-height: 4vh;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6b3021;
    text-align: center;
}

.orange {
    background-color: #fe9000;
}

.green {
    background-color: #8fb339;
}

.yellow {
    background-color: #f4ed7c;
}

.brown {
    background-color: #6b3021;
}

.lightblue {
    background-color: #a5dde2;
}