header {
    background-color: darkgreen;
    color: white;
}

header .container h1 {
    font-size: 4vh;
    width: 100vw;
}

main {
    flex: 1 0 auto;
}

#rackets{
    height: 100px;
    margin-top: 30px;
}

.match{
    line-height: 2vh;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 3px;
}

.even{
    background-color: skyblue;
}

.learn{
    background-color: orange;
}

.choiceBox{
    display: inline block;
}
.input-wrap {
    background-color: #8fb339;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4vh;
    border: 2px solid #333;
    border-radius: 20px;
    height: 50vh;
    width: 50vw;
    padding: 2vh;
    font-size: 4vh;
}

input {
    line-height: 3vh;
    padding: 1vh;
    margin: 1vh;
    color: black;
    font-size: 2vh;
}

button a {
    color: #555;
    padding: 1vh;
}

button {
    background-color: white;
    border-radius: 15px;
    margin: 3vh 0;
}

#userInfo {
    height: auto;
    width: auto;
    color: #333;
}

footer {
    background-color: rgba(0,100,0,0.3);
    color: white;
    line-height: 5vh;
    width: 100vw;
    font-size: 4vh;
}

a {
    color: #555;
    line-height: 5vh;
    font-size: 3vh;
}

footer a {
    color: white;
    line-height: 4vh;
}

body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: yellowgreen;
    text-align: center;
}

p {
    font-size: 3vh;
}

.green {
    background-color: #8fb339;
}

.yellow {
    background-color: #f4ed7c;
}